<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IsUserActive</servlet-name>
        <servlet-class>com.IsUserActive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveDeactive</servlet-name>
        <servlet-class>com.ActiveDeactive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserData</servlet-name>
        <servlet-class>com.UserData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IsUserActive</servlet-name>
        <url-pattern>/IsUserActive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveDeactive</servlet-name>
        <url-pattern>/ActiveDeactive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserData</servlet-name>
        <url-pattern>/UserData</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>getBrandServlet</servlet-name>
        <servlet-class>com.getBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCategoryServlet</servlet-name>
        <servlet-class>com.getCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandDetails_UI</servlet-name>
        <servlet-class>com.swadeshi.BrandDetails_UI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandImageServer</servlet-name>
        <servlet-class>com.swadeshi.BrandImageServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBrandDetailsServlet</servlet-name>
        <servlet-class>com.swadeshi.GetBrandDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetShortDetailsServlet</servlet-name>
        <servlet-class>com.swadeshi.GetShortDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBrandDetails_UI</servlet-name>
        <servlet-class>com.swadeshi.UpdateBrandDetails_UI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processRequest</servlet-name>
        <servlet-class>com.swadeshi.processRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Messageconformation</servlet-name>
        <servlet-class>com.swadeshi.Messageconformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>com.swadeshi.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getBrandServlet</servlet-name>
        <url-pattern>/getBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCategoryServlet</servlet-name>
        <url-pattern>/getCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandDetails_UI</servlet-name>
        <url-pattern>/BrandDetails_UI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandImageServer</servlet-name>
        <url-pattern>/BrandImageServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBrandDetailsServlet</servlet-name>
        <url-pattern>/GetBrandDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetShortDetailsServlet</servlet-name>
        <url-pattern>/GetShortDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBrandDetails_UI</servlet-name>
        <url-pattern>/UpdateBrandDetails_UI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processRequest</servlet-name>
        <url-pattern>/processRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Messageconformation</servlet-name>
        <url-pattern>/Messageconformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
